*,
*:befor,
*:after {
    box-sizing: border-box;
    
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: center;
}

body {
    margin: 0 auto;
    background-color: lightsalmon;
}

h1 {
    font-family: "lobster", cursive;
    text-shadow: 2px 5px 5px black;
    font-size: 6em;
    margin-top: 4rem;
    color: white;
    /*input:checked ~ h1*/
    animation: coloring 8s infinite;
  }
  
  @keyframes coloring {
    0% {
      text-shadow: -8px -3px 1px black;
    }
  
    25% {
      text-shadow: 8px -3px 15px black;
    }
  
    50% {
      text-shadow: 8px 3px 1px black;
    }
}

#passwd1, #passwd2 {
    border: solid black 3px;
    border-radius: 2px;
    height: 2rem;
    margin-bottom: 5px;
}


.btn {
    color: white;
    background-color: black;
    margin-bottom: 3rem;

    
}

.tests {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
} 

p::after {
    content: "❌";

}
/*✅*/